[submodule "MODS/Starter_Mod"]
	path = MODS/Starter_Mod
	url = https://github.com/audinowho/Starter_Mod
[submodule "MODS/Gender_Unlock"]
	path = MODS/Gender_Unlock
	url = https://github.com/audinowho/Gender_Unlock
